{% extends "bookings/base.html" %} 

{% block title %}Booking Success - Cove{% endblock %} {% block content %}

<!-- Success page page -->

<main class="container section">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="lead display-6"><strong>You're in</strong></h1>
      <p class="my-4 lead">
        Your booking has been received.
      </p>
       <a href="{% url 'booking_list' %}" class="btn custom-button-outline">Amend or Cancel Booking</a>
    </div>
  </div>
</main>


{% endblock %}