{% extends "bookings/base.html" %}
{% block title %}Home - Cove{% endblock %}

{% block content %}
<!-- About page -->

<!-- Hero Section -->
<header class="hero">
  <div class="overlay d-flex flex-column justify-content-center align-items-center text-center">
    <div class="hero-content">
      <h1 class="display-4 fw-bold">Welcome to the Cove</h1>
      <br />
      <p>Beachside dining in beautiful Oceanscape, Cornwall.</p>
      <br />
      <a href="{% url 'menu' %}" class="btn custom-button-outline">Explore Our Menu</a>
    </div>
  </div>
</header>

<!-- Intro Section -->
<section class="intro py-5 text-center bg-white">
  <div class="container">
    <h2 class="mb-3">Relax. Sip. Savour.</h2>
    <p class="lead">
      Nestled in the heart of Oceanscape, the <strong>Cove</strong> is your go to beach bar for breathtaking views,
      fresh local seafood, and a warm Cornish welcome.
      <br /><br />
      Just a few steps from the shoreline, our relaxed yet stylish setting offers sweeping vistas of Cornwall's dramatic
      coastline...
    </p>
  </div>
</section>
{% endblock %}