<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The Cove at Oceanscape - Cornwall's ultimate beach bar destination. Great food, amazing drinks, and unbeatable ocean views make every visit unforgettable."
    />
    <title>The Cove</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <h1>The Cove Beach Bar</h1>
      <nav>
        <a href="/">Home</a>
        <a href="{% url 'booking_list' %}">Bookings</a>
        {% if user.is_authenticated %}
        <span> | Logged in as {{ user.username }} </span>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>
  </body>